"*":
  "atom-beautify":
    cpp:
      configPath: "/home/jojo/.config/uncrustify.cfg"
    executables:
      uncrustify:
        path: "/home/jojo/src/uncrustify/build/uncrustify"
    general:
      _analyticsUserId: "4f0db0b7-b30b-4b21-9f75-996712442ac4"
      beautifyEntireFileOnSave: false
      muteUnsupportedLanguageErrors: true
    html:
      wrap_attributes: "force-aligned"
    js:
      break_chained_methods: true
      default_beautifier: "Pretty Diff"
      jslint_happy: true
      keep_array_indentation: true
      keep_function_indentation: true
      space_before_conditional: false
      wrap_line_length: 90
    jsx:
      e4x: false
      jslint_happy: true
      keep_array_indentation: true
      keep_function_indentation: true
      space_before_conditional: false
    latex:
      always_look_for_split_brackets: true
      remove_trailing_whitespace: true
    vue:
      keep_function_indentation: true
  "atom-material-ui":
    colors:
      abaseColor: "#aad875"
      accentColor: "#6f8853"
      predefinedColor: "Green"
    tabs:
      compactTabs: true
    treeView:
      compactList: true
    ui:
      panelContrast: true
      useAnimations: false
  "autocomplete-solidity":
    shorthandOnly: false
  core:
    allowPendingPaneItems: false
    autoHideMenuBar: true
    closeDeletedFileTabs: true
    disabledPackages: [
      "deprecation-cop"
      "about"
      "welcome"
      "github"
      "language-javascript-jsx"
      "autocomplete-clang"
      "busy-signal"
      "go-debug"
      "go-plus"
      "go-signature-statusbar"
      "language-r"
      "tasks"
      "w3c-validation"
      "atom-latex"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "bronokai"
    ]
    warnOnLargeFileLimit: 1
  editor:
    fontSize: 15
    preferredLineLength: 90
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
  "exception-reporting":
    userId: "b530edb4-0b5c-ddd6-9e2f-06ed0ddff858"
  "file-icons":
    forceShow: true
    strategies:
      modelines: false
  "go-debug":
    dlvPath: "/home/jojo/.gvm/pkgsets/go1.8.3/global/bin/dlv"
    saveAllFiles: true
  "go-plus":
    panel:
      currentHeight: "29.555555555555557vh"
  "language-babel":
    emmetCSSAutocomplete: true
  linter:
    disabledProviders: [
      "Solhint"
    ]
  "linter-ui-default":
    panelHeight: 296
    showPanel: true
  pigments:
    extendAutocompleteToColorValue: true
    extendAutocompleteToVariables: true
  "tree-view":
    focusOnReveal: false
  welcome:
    showOnStartup: false
".babel.regexp.source":
  editor:
    softWrapAtPreferredLineLength: true
".js.jsx.source":
  editor:
    showIndentGuide: true
    softWrap: true
